<div class="Content">
    <div class="FooterContentWrapper">
        <p class="FooterText"><a href="https://www.themoviedb.org/"><img src="/icons/tmdbLogo.svg" alt="The Movie Database Logo" id="TMDBLogo"/></a> This product uses the TMDB API but is not endorsed or certified by TMDB</p>
    </div>
</div>