<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/css/people.css">
<link rel="stylesheet" type="text/css" href="/css/menubar.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<script type="text/javascript" src="/scripts/people.js" defer></script>
<head>  
    <title>Movie and TV Show Database Project</title>
</head>
<header>
    <%- include("menubar.ejs") %>
</header>
<body id="body">
    <div class="MainPageWrapper">
        <div class="MainPageContent">
            <div class="Content" id="HomePageContent">
                <div class="ContentBoxContainer" id="HomePageContentBoxContainer">
                    <div class="ContentBoxWrapper">
                        <span class="H1" id="PageTitle">People Page</span>
                        <div class="PeopleContainer">
                            <ol>
                                <li><a href="/people/actors"><span class="H2">Actors</span></a></li>
                                <li><a href="/people/directors"><span class="H2">Directors</span></a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="Footer">
    <%- include("footer.ejs") %>
</footer>