:root{
    --ContentMargin: 20vw;
    --MenuBarHeight: 4vh;

    --beaver: #a9927d;
    --chocolate-cosmos: #49111c;
    --walnut-brown: #5e503f;
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-hover: #AFB0B0;
    --background-color: #ffffff;
    --alt-background-color: #27231f;
}
body{
    margin: 0;
    background-color: var(--background-color);
}
a{
    color: black;
    text-decoration: none;
}
ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.H1{
    font-size: xx-large;
}
.H2{
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Content{
    margin-left: var(--ContentMargin);
    margin-right: var(--ContentMargin);
}
.ContentBoxContainer{
    font-family: Aptos, Arial, sans-serif;
    min-height: calc(100vh - var(--MenuBarHeight));
    height: fit-content;
    background-color: var(--background-color);
}
.ContentBoxWrapper{
    padding: 5px;
}
#PageTitle{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-color: var(--alt-background-color);
    border-bottom-width: 3px;
}
.NavContainer{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    justify-content: center;
}
.PrevButton{
    background-color: var(--beaver);
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.NextButton{
    background-color: var(--beaver);
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.GenreContainer{
    display: flex;
    flex-direction: column;
}
.GenreWrapper{
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-color: var(--alt-background-color);
    border-bottom-width: 2px;
}