.MenuBar{
    --beaver: #a9927d;
    --chocolate-cosmos: #49111c;
    --walnut-brown: #5e503f;
    --text-light: #ffffff;
    --text-dark: #000000;
    --text-hover: #AFB0B0;
    --background-color: #ffffff;
    --alt-background-color: #27231f;

    font-family: Aptos, Arial, sans-serif;
    background-color: var(--alt-background-color);
    height: var(--MenuBarHeight);
}
.MenuBarContentContainer{
    display: flex;
    white-space: nowrap;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--ContentMargin);
    margin-right: var(--ContentMargin);
}
.MenuBarTitleWrapper{
    display: flex;
}
.MenuBarLinkButtonsWrapper{
    display: flex;
    height: fit-content;
}
.MenuBarLoginWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.MenuBarLinkButtons{
    font-size: 1.5vh;
    display: inline-block;
    height: auto;
    margin-left: 20px;
    color: var(--text-light);
    cursor: pointer;
}
.MenuBarLinkButtons:hover{
    color: var(--text-hover);
}
.Title{
    color: var(--text-light);
    font-size: 2.5vh;
}
.MenuBarLoggedInText{
    font-size: max(1.5vh, 15px);
    margin-left: 20px;
    color: var(--text-light);
}
.MenuBarAccountWrapper{
    background-color: var(--chocolate-cosmos);
    border-style: solid;
    border-color: var(--chocolate-cosmos);
    border-width: 1px;
    border-radius: 5px;
    margin-left: 10px;
}
.MenuBarAccountButton{
    font-size: max(1.5vh, 15px);
    font-family: Aptos, Arial, sans-serif;
    color: var(--text-light);
    padding: 3px;
    cursor: pointer;
}
.MenuBarAccountButton:hover{
    color: var(--text-hover);
}
#AccountMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: var(--walnut-brown);
    border-radius: 5px;
    padding: 5px;
    list-style: none;
}
#ProfileButtonWrapper{
    border-style: solid;
    border-bottom-color: var(--color-2);
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 2px;
}
.AccountMenuButtonWrapper{
    border-bottom-color: var(--color-2);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.AccountMenuButtons{
    font-size: max(1.5vh, 15px);
    display: inline-block;
    height: auto;
    color: var(--text-light);
    cursor: pointer;
}
.AccountMenuButtons:hover{
    color: var(--text-hover);
}
.hidden{
    visibility: hidden;
}